<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1> Eldest </h1>
  <p>
    The eldest director in our dataset right now is <a href="/directors/<%= @the_director.id%>"><%= @the_director.name %></a>,  born on <%= @age %>
  </p>
</body>
</html>
